DATABASE_URL="file:./prisma/dev.db"
SMTP_HOST="smtp.gmail.com"
SMTP_PORT="587"
SMTP_USER="samuel.regente@g4educacao.com"
SMTP_PASS="SUA_APP_PASSWORD"
SENDER_NAME="Samuel-G4"
WHATSAPP_NUMBER="+5511970917705"
WHATSAPP_CTA_TEXT="Quer conversar? Clique aqui e fale comigo no WhatsApp!"
WHATSAPP_DEFAULT_MESSAGE="Olá! Vim pelo seu e-mail e quero conversar."
